version: 2.1

parameters:
  run_cuda:
    type: boolean
    default: false
  run_cuda_with_python:
    type: boolean
    default: false
  run_a1111:
    type: boolean
    default: false

executors:
  linux-machine:
    machine: true

commands:
  build-image:
    parameters:
      image_name:
        type: string
      image_tags:
        type: string
      base_image:
        type: string
        default: ""
    steps:
      - checkout
      - run:
          name: Set up environment variables
          command: |
            set -euo pipefail
            echo "IMAGE_PREFIX=ghcr.io/sgri/amber" >> $BASH_ENV
      - run:
          name: Login to GHCR
          command: |
            set -euo pipefail
            echo "${GHCR_TOKEN}" | docker login ghcr.io -u sgri --password-stdin

      - run:
          name: Build Docker image
          command: |
            set -euo pipefail

            cd "<< parameters.image_name >>"
            if [ -n "<< parameters.base_image >>" ]; then
              BUILD_ARGS="--build-arg BASE_IMAGE=${IMAGE_PREFIX}/<< parameters.base_image >>"
            else
              BUILD_ARGS=""
            fi
            docker build --progress=plain $BUILD_ARGS -t << parameters.image_name >> .

      - run:
          name: Tag and push Docker image
          command: |
            set -euo pipefail

            IMAGE_ADDRESS="${IMAGE_PREFIX}/<< parameters.image_name >>"

            for tag in << parameters.image_tags >>; do
              docker tag "<< parameters.image_name >>" "${IMAGE_ADDRESS}:${tag}"
              docker push "${IMAGE_ADDRESS}:${tag}"
            done

jobs:
  build-cuda:
    executor: linux-machine
    steps:
      - build-image:
          image_name: cuda
          image_tags: nvidia535-cuda12.2

  build-cuda-with-python:
    executor: linux-machine
    steps:
      - build-image:
          image_name: cuda-with-python
          image_tags: nvidia535-cuda12.2-python3.10.14
          base_image: cuda:nvidia535-cuda12.2

  build-a1111:
    executor: linux-machine
    steps:
      - build-image:
          image_name: a1111
          image_tags: nvidia535-cuda12.2-python3.10.14
          base_image: cuda-with-python:nvidia535-cuda12.2-python3.10.14

workflows:
  cuda:
    when: << pipeline.parameters.run_cuda >>
    jobs:
      - build-cuda

  cuda-with-python:
    when: << pipeline.parameters.run_cuda_with_python >>
    jobs:
      - build-cuda-with-python

  a1111:
    when: << pipeline.parameters.run_a1111 >>
    jobs:
      - build-a1111

  cuda-manual:
    when:
      not: << pipeline.parameters.run_cuda >>
    jobs:
      - approve:
          type: approval
      - build-cuda:
          requires: [approve]

  cuda-with-python-manual:
    when:
      not: << pipeline.parameters.run_cuda_with_python >>
    jobs:
      - approve:
          type: approval
      - build-cuda-with-python:
          requires: [approve]

  a1111-manual:
    when:
      not: << pipeline.parameters.run_a1111 >>
    jobs:
      - approve:
          type: approval
      - build-a1111:
          requires: [approve]